

/*=====================================
            HEADER PART STYLE
======================================*/
.header-part {
    background: #252525;
}

.header-content {
    @include flex__start;
    align-items: center;

    li {
        @include flex__center;
        padding: 10px 25px;
        border-right: 1px solid #444;

        &:last-child {
            border-right: 0px;
        }

        i {
            font-size: 15px;
            color: $brand__color;
            margin-right: 8px;
        }

        p,a {
            font-size: 15px;
            color: #f1f1f1;
        }

        a {
            text-transform: capitalize;
        }

        ul {
            li {
                padding: 0px;
                border-right: 0px;
            }
        }
    }
}

.header-widget {
    justify-content: flex-end;

    li {
        .dropdown-item {
            color: #777;

            &:hover {
                color: $wh__color;
            }
        }
    }

    .dropdown {
        .dropdown-menu {
            top: 60px;
        }

        .header-dropdown {
            width: 100%;
        }
        
        &:hover {
            .dropdown-menu {
                top: 44px;
            }
        }
    }
}

/*=====================================
        HEADER RESPONSIVE STYLE
======================================*/
@media (max-width: 767px) {
    // HEADER PART
    .header-content {
        display: none;
    }

    .header-widget {
        @include flex__center;
    }
}